@using YourFitnessTracker.Infrastructure.Enums
@using YourFitnessTracker.Presentation.Controllers
@using YourFitnessTracker.Presentation.Extensions
@using YourFitnessTracker.Presentation.Helpers
@using YourFitnessTracker.Presentation.ViewModels.Nutrition
@model NutritionCalculatorViewModel;

<div class="modal fade" id="TargetModal" tabindex="-1" aria-labelledby="TargetModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Nutrition calculator</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-controller="@(UiNamingHelper.GetControllerName<NutritionTargetController>())" asp-action="@nameof(NutritionTargetController.CalculateTarget)" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label>Age</label>
                        <input class="form-control" name="Age" type="number" min="1" max="200" value="@Model.Age" disabled required/>
                    </div>

                    <div class="form-group">
                        <label>Height</label>
                        <input class="form-control" name="Height" type="number" min="100" max="300" placeholder="cm" @Html.Raw(Html.Attr("value", $"{Model.Height}", ()=> Model.Height is not null)) required/>
                    </div>

                    <div class="form-group">
                        <label>Weight</label>
                        <input class="form-control" name="Weight" type="number" min="10" max="300" placeholder="kg" @Html.Raw(Html.Attr("value", $"{Model.Weight}", () => Model.Weight is not null)) required />
                    </div>

                    <div class="form-group">
                        <label>Activity level</label>
                        <select name="ActivityLevel" class="form-control" asp-items="Html.GetEnumSelectListWithDescriptions<ActivityLevels>()" required></select>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary" value="Calculate">
                </div>
            </form>
        </div>
    </div>
</div>