@using YourFitnessTracker.Controllers;
@using YourFitnessTracker.Infrastucture.Dtos.Goals;
@using YourFitnessTracker.Presentation.Helpers;
@using YourFitnessTracker.Presentation.ViewModels.Goal;
@model GoalSummaryViewModel

@{
    ViewData["Title"] = "Goals";
}

<div>
    <h2 class="d-inline">My Goals</h2>
    <a asp-controller="@(UiNamingHelper.GetControllerName<GoalController>())" asp-action="@nameof(GoalController.Add)" class="font-weight-bold ml-1 btn btn-primary" style="vertical-align:text-bottom">
        <i class="fa-solid fa-circle-plus"></i> Add Goal
        </a>
</div>

<div class="row">
    <div class="col-md-5">
        <h5 class="d-block mt-5 ml-3">Weightlifting:</h5>
        <div class="d-block">
            @foreach (var weightliftingGoal in Model.WeightLiftingGoals)
            {
                <div class="col-9 mt-3">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between">
                            <h4>@weightliftingGoal.Activity</h4>
                            <span class="float-right">
                                <a asp-controller="@(UiNamingHelper.GetControllerName<GoalController>())" asp-action="@nameof(GoalController.ViewWeightlifting)" asp-route-id="@weightliftingGoal.Id" class="btn btn-primary float-right">View</a>
                            </span>
                        </div>
                        <div class="card-body text-center" style="font-size:1.1rem">
                            <div class="row text-center">
                                <div class="col-6">
                                    <h3>@(weightliftingGoal.Weight)kg</h3>
                                    <small>Weight</small>
                                </div>
                                <div class="col-6">
                                    <h3>@(weightliftingGoal.Reps)</h3>
                                    <small>Reps</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="col-md-5">
        <h5 class="d-block mt-5 ml-3">Timed exercises:</h5>
        <div class="d-block">
            @foreach (var timedGoal in Model.TimedGoals)
            {
                <div class="col-9 mt-3">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between">
                            <h4>@timedGoal.Activity</h4>
                            <span class="float-right">
                                <a asp-controller="@(UiNamingHelper.GetControllerName<GoalController>())" asp-action="@nameof(GoalController.ViewTimed)" asp-route-id="@timedGoal.Id" class="btn btn-primary float-right">View</a>
                            </span>
                        </div>
                        <div class="card-body text-center" style="font-size:1.1rem">
                            <div class="row text-center">
                                <div class="col-6">
                                    <h3>@timedGoal.Quantity</h3>
                                    <small>@timedGoal.QuantityUnit</small>
                                </div>
                                <div class="col-6">
                                    <h3>@timedGoal.Time.ToString("hh\\:mm\\:ss")</h3>
                                    <small>Time</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>